<header class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <%= link_to "Navbar", root_path, id: "logo", class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Help', help_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log in', root_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>
  </header>